* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}


body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #C8B6A6;
    line-height: 1.5;
}

nav{
    background: #C8B6A6;
    padding: 5px 40px;
    border-bottom:1px solid #2C3333;
  }
  nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li{
    padding: 15px 0;
    cursor: pointer;
  }
  nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
  }
  nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #C8B6A6;
    opacity: 0;
    transition: all 0.2s linear;
  }
  nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
  }
  nav ul li.logo{
    flex: 1;
    color: white;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }
  nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
  }
  nav ul li:hover a{
    color: #8D7B68;
  }
  nav ul li i{
    font-size: 23px;
  }
  nav ul li.btn{
    display: none;
  }
  nav ul li.btn.hide i:before{
    content: '\f00d';
  }
  @media all and (max-width: 900px){
    nav{
      padding: 5px 30px;
    }
    nav ul li.items{
      width: 100%;
      display: none;
    }
    nav ul li.items.show{
      display: block;
    }
    nav ul li.btn{
      display: block;
    }
    nav ul li.items:hover{
      border-radius: 5px;
      box-shadow: inset 0 0 5px whitesmoke,
                  inset 0 0 10px whitesmoke;
    }
    nav ul li.items:hover:after{
      opacity: 0;
    }
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
     background-color: #C8B6A6;
     padding: 70px 30px;
     position: relative;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h3 {
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    background-color: #C8B6A6;
}

.footer-col ul li::not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #8D7B68;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #C8B6A6;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
}

.footer-col .social-links a:hover {
    color: #8D7B68;
    background-color: #C8B6A6;
}

.copyright p{
    position: static;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #C8B6A6;
    line-height: 5px;
    text-align: center;
    left: 0;
}

@media screen and (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


.container {
    margin: 0 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 30px;
}

.container h1 {
    color: #333;
}

.container .tab {
    position: relative;
    background: white;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
}

.container .tab input {
    appearance: none;

}

.container .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container .tab label::after {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 2rem;
    color: rgba(0,0,0,1);
    transition: transform 1s;
}

.container .tab:hover label::after {
    color: #333;
}

.container .tab input:checked ~ label::after {
    transform: rotate(135deg);
}

.container .tab label h2 {
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}


.container .tab label h3 {
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}

.container .tab .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.container .tab input:checked ~ .content {
    max-height: 100vh;
}

.container .tab .content p {
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}

